extends layout

block content
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
    .container
      a.navbar-brand(href='#') Red_Bicicletas
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='#') Nosotros
          li.nav-item
            a.nav-link(href='#') Bicicletas
          li.nav-item
            a.nav-link(href='#') Contacto
  header.masthead.text-center.text-white
    .masthead-content
      .container
        h1.masthead-heading.mb-0 Red de bicicletas
        h2.masthead-subheading.mb-0 La primera comunidad online de ciclistas urbanos
        a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#') Comenzar
    .bg-circle-1.bg-circle
    .bg-circle-2.bg-circle
    .bg-circle-3.bg-circle
    .bg-circle-4.bg-circle
  section
    .container
      #main_map      
      
  // Footer
  footer.py-5.bg-black
    .container
     p.m-0.text-center.text-white.small Copyright &copy; Your Website 2020
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/map.js')